html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

*,
html,
body,
#app,
select,
button,
input {
  font-family: 'Share Tech Mono', monospace;
}

/* ------------------------ */

*:focus {
  outline: none;
}

button,
input {
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  width: 128px;
  height: 100%;
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: white;
  -webkit-box-shadow: 2px 2px 4px grey;
          box-shadow: 2px 2px 4px grey;
}

hr {
  width: 100%;
  border: 1px solid white;
}

h2 {
  text-align: center;
}

input,
select {
  cursor: pointer;
}

.previewLatest,
.previewPersonal {
  border: 5px solid #03A9F4;
}

.previewLatest:hover,
.previewPersonal:hover {
  cursor: pointer;
  border: 5px solid #ccf2f6;
}

input[type=color] {
  background: white;
  border: none;
}

input[type=text] {
  height: 35px;
  text-align: center;
  margin-bottom: 10px;
  border: none;
  cursor: text;
}

input[type=submit] {
  margin-top: 3px;
}

input[type=button],
input[type=submit] {
  width: 100px;
  height: 32px;
  background: white;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px grey;
          box-shadow: 2px 2px 4px grey;
}

select {
  border: none;
  background: #03A9F4;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

option {
  height: 40px;
}

/* ------------------------ */

.App {
  height: 100%;
  background: #00bcd433;
}

#navbar,
#footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 1;
}

#footer {
  position: fixed;
  bottom: 0;
  height: 42px;
  line-height: 42px;
  background: #03A9F4;
  border: 1px solid black;
  -webkit-box-shadow: 0 -1px 5px grey;
          box-shadow: 0 -1px 5px grey;
  text-align: center;
}

#footer i {
  color: black;
}

#footer a {
  display: block;
}

#footer a:visited {
  color: black;
}

.navbarButtons {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 800px) {
  .navbarButtons {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: initial;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.show-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-burger {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  background: #03A9F4;
  -webkit-box-shadow: 0 1px 5px grey;
          box-shadow: 0 1px 5px grey;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#burger {
  display: none;
}

@media screen and (max-width: 800px) {
  #burger {
    display: block;
  }
}

#burger i {
  margin: 5px;
  font-size: 35px;
}

#burger i:hover {
  cursor: pointer;
}

#navbarSettings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-top: 5px;
}

#settingsDrawing {
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 5px gray;
          box-shadow: 0px 0px 5px gray;
}

#drawingBoard {
  -webkit-box-shadow: 0px 0px 10px gray;
          box-shadow: 0px 0px 10px gray;
}

#drawingBoard:hover {
  cursor: pointer;
}

#gallery,
#interface,
#account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
}

@media screen and (max-width: 800px) {
  #gallery,
  #interface,
  #account {
    margin: 5px;
  }
}

#gallery {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 4px;
}

#interface {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  #interface {
    height: initial;
  }
}

#account {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 4px;
}

#buttonsDrawing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 800px) {
  #buttonsDrawing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: initial;
  }

  #buttonsDrawing #save,
  #buttonsDrawing #delete,
  #buttonsDrawing #clear {
    height: 32px;
    margin-top: 10px;
  }
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#settingsButton {
  width: 100%;
  height: 32px;
}

#settingsForm {
  width: 300px;
  padding: 5px;
  background: #03A9F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#settingsForm div span {
  line-height: 40px;
}

.settingsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gridSizeMin,
#gridSizeMax,
#intensityMin,
#intensityMax {
  width: 30px;
}

#gridSizeMax,
#intensityMax {
  text-align: right;
}

#gridSizeSlider,
#intensitySlider {
  width: 70%;
}

.mainColor {
  width: 50px;
  height: 25px;
  display: inline-block;
  border: 2px solid #03A9F4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.backgroundColor {
  width: 50px;
  height: 25px;
  display: inline-block;
  border: 2px solid #03A9F4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blue {
  background: #0088FF;
}

.yellow {
  background: #FFAA00;
}

.orange {
  background: #FF7700;
}

.red {
  background: #FF0033;
}

.purple {
  background: #9911AA;
}

.green {
  background: #AADD22;
}

#saveDefaultSettings,
#loadDefaultSettings {
  width: 127px;
}

#galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  margin-bottom: 60px;
  margin-top: 80px;
}

#galleryButton {
  xwidth: inherit;
}

.galleryButtons {
  display: block;
  margin: auto;
  height: 30px;
}

#galleryLatest,
#galleryPersonal {
  min-height: 245px;
  min-width: 850px;
  border: 1px solid black;
  margin: 20px;
  background: #03A9F4;
  padding-bottom: 20px;
}

#galleryLatestContainer,
#galleryPersonalContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.previewLatest,
.previewPersonal {
  margin: 20px;
}

#registerForm,
#loginForm {
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.accountForm {
  padding: 5px;
  width: 100%;
}

/* The Modal (background) */

#accountModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Modal Content/Box */

#modal-content {
  background-color: #03A9F4;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  min-height: 400px;
}

#accountForms {
  padding: 50px;
  padding-bottom: 0;
}

/* The Close Button */

#closeModal {
  float: right;
  font-size: 40px;
}

#closeModal:hover,
#closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* --------------------------*/

button:hover,
input:hover,
#registerForm input[type=submit]:hover,
#loginForm input[type=submit]:hover,
select:hover {
  background: #ccf2f6;
}

button:hover,
input[type=submit]:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:active,
input[type=submit]:active {
  -webkit-box-shadow: inset 2px 2px 7px grey;
          box-shadow: inset 2px 2px 7px grey;
  -webkit-transition: none;
  transition: none;
}

